<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>CodeQuilt Philadelphia</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div id = "container">
		<ul class="topnav">
  			<li><a target="_blank" href="https://scratch.mit.edu/studios/27961716/projects/">Add your Scratch project!</a></li>
  			<li id="about"><a href="#about">About CodeQuilt</a></li>
  			<li><a target="_blank" href="https://codio.com/p/join-course?token=uniform-potato">codio.com guide</a></li>
		</ul>
		</div>
		<div class="row" id = "quilt"></div>
		<div id="myModal" class="modal">
		    <div class="modal-content">
    			<span class="close">&times;</span>
    			<img src="fullLogo.png" alt="code quilt logo" class="center" style="width:30%"></img>
			<p>
			CodeQuilt is a collaborative project in which students take ownership of their own stories about coding (stories often lost and ignored across apps, websites, and other digital media) by designing digital quilt patches. Together, these patches form a collective quilt representing their new stories and visions for who can code and why we code.
			</p>
			<p>
			Take a look at the <a id="close" href="#close">current quilt</a> and add your own patch by following the <a target="_blank" href="https://codio.com/p/join-course?token=uniform-potato">tutorial</a>.
			</p>
			<p>We invite teachers and students across Philadelphia to create and share their own patches. CodeQuilt is part of CS4Philly’s celebration of the 2020 Computer Science Education Week.
			</p>
  			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="main2020.js"></script>
	</body>
</html>