<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>CodeQuilt Philadelphia</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div id = "container">
		<ul class="topnav">
  			<li><a href="https://scratch.mit.edu/studios/27961716/projects/">Add your Scratch project!</a></li>
  			<li><a href="#news">About CodeQuilt</a></li>
  			<li><a href="#contact">code.io guide</a></li>
 			 <li><a href="#about">Teacher's Guide</a></li>
		</ul>
		</div>
		<div class="row" id = "quilt">
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>